.characters {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
  }
}
