.characters {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  padding-bottom: 5%;
  @include tablet {
    margin-top: 13%;
    padding-bottom: 8%;
  }
  @include desktop {
    margin-top: 8%;
    margin-right: 5%;
    margin-left: 8%;
  }
  &__title {
    display: flex;
    gap: 6px;
    margin-bottom: 50px;
    color: $primary-color;
    font-weight: 600;
    font-size: rem(16);
    @include desktop {
      font-size: rem(20);
      position: relative;
      right: 0.8%;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 0.8%;
    padding-left: 0.7%;
    @include tablet {
      padding-right: 2.5%;
      padding-left: 0%;
    }
  }
  &__card {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-gap: 7px;
    box-shadow: 3px 10px 10px rgba(120, 101, 5, 0.3);
    border-radius: 2px;
    cursor: pointer;
    @include desktop {
      width: 250px;
    }
  }
  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 7px 7px rgba(120, 101, 5, 0.6);
    width: 100px;
    height: 134px;
    margin-top: 35px;
    @include desktop {
      width: 170px;
      height: 250px;
    }
  }
  &__name {
    color: $primary-color;
    font-weight: 800;
    margin-top: 15px;
    font-size: rem(11);
    @include desktop {
      font-size: rem(16);
    }
  }
  &__occupation_list {
    margin-top: 5px;
    text-align: center;
    font-size: rem(6.5);
    color: $subtitle-color;
    @include tablet {
      font-size: rem(8);
    }
    @include desktop {
      font-size: rem(13);
    }
    &__item {
      margin-bottom: 5px;
    }
  }
  &__status {
    font-weight: 700;
    color: $subtitle-color;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: rem(9);
    @include desktop {
      font-size: rem(16);
    }
  }
}

.fa-heart {
  font-size: rem(12);
  transform: scaleY(0.8);
  margin-top: 4px;
  @include desktop {
    font-size: rem(15);
  }
}
