.footer {
  width: 100%;
  height: 4vh;
  background-color: $primary-color;
  color: $secondary-color;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  &__copy {
    font-size: rem(14);
  }
}
